{% extends "maths\base.html" %}

{% block title %}Szczegóły{% endblock %}

{% block content %}
<!-- To jest komentarz html-->
<table>
    <tr>
        <td>a</td>
        <td>{{math.a}}</td>
    </tr>
    <tr>
        <td>b</td>
        <td>{{math.b}}</td>
    </tr>
    <tr>
        <td>operation</td>
        <td>{{math.operation}}</td>
    </tr>
    <tr>
        <td>result</td>
        <td>{{math.result}}</td>
    </tr>
    <tr>
        <td>data</td>
        <td>{{math.created}}</td>
    </tr>
</table>
{# To jest komentarz systemy szablonów #}
{% endblock %}

